<!doctype html>
<html lang="uk">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title or "CloudBox" }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header class="header">
    <div class="container header-row">
      <div class="brand">CloudBox</div>
      <nav class="nav">
        {% if session.get("user_id") %}
          <span class="user">👤 {{ session.get("username") }}</span>
          <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% else %}
          <a href="{{ url_for('auth.login_get') }}">Login</a>
          <a href="{{ url_for('auth.register_get') }}">Register</a>
        {% endif %}
      </nav>
    </div>
  </header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>
</body>
</html>
